// colors
$color-main: #12233f;
$color-white: #F4F4F4;
$color-grey: #828282;
$color-lightblue: #EAEFF6;

$color-blue: #98B5D6;
$color-pink: #FC3164;
$color-green: #4BD6C6;

$color-orange: #F79B22;

// screen vars

$IPSE: 320px;
$IP7: 375px;
$IPAIR: 768px;
$IPPRO: 1024px;
$IMAC: 1440px;
$FULLHD: 1920px;

// mixins

@mixin screen-style($media) {
  @if $media == iphoneSE {
    @media only screen and (max-width: $IPSE) { @content; }
  }
  @else if $media == iphone7 {
    @media only screen and (min-width: $IP7 - 1) and (max-width: $IPAIR - 1) { @content; }
  }
  @else if $media == ipadAir {
    @media only screen and (min-width: $IPAIR - 1) and (max-width: $IPPRO - 1) { @content; }
  }
  @else if $media == ipadPro {
    @media only screen and (min-width: $IPPRO - 1) and (max-width: $IMAC - 1) { @content; }
  }
  @else if $media == iMac {
    @media only screen and (min-width: $IMAC - 1) and (max-width: $FULLHD - 1) { @content; }
  }
  @else if $media == fullHd {
    @media only screen and (min-width: $FULLHD - 1) { @content; }
  }
}

// @include screen-style(iphoneSE) { width: 100% ;}
