// colors
$color-main: #12233f;
$color-white: #F4F4F4;
$color-grey: #828282;
$color-lightblue: #EAEFF6;

$color-blue: #98B5D6;
$color-pink: #FC3164;
$color-green: #4BD6C6;

$color-orange: #F79B22;

// style vars

$shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);

// screen vars

$IPSE: 330px;
$IP7: 375px;
$IPAIR: 768px;
$IPPRO: 1024px;
$IMAC: 1440px;
$FULLHD: 1920px;

// mixins

@mixin screen-style($media) {
  @if $media == iphoneSE {
    @media only screen and (max-width: $IPSE + 1) { @content; }
  }
  @else if $media == iphone7 {
    @media only screen and (min-width: $IP7 - 1) and (max-width: $IPAIR - 1) { @content; }
  }
  @else if $media == ipadAir {
    @media only screen and (min-width: $IPAIR - 1) and (max-width: $IPPRO - 1) { @content; }
  }
  @else if $media == ipadPro {
    @media only screen and (min-width: $IPPRO - 1) and (max-width: $IMAC - 1) { @content; }
  }
  @else if $media == iMac {
    @media only screen and (min-width: $IMAC - 1) and (max-width: $FULLHD - 1) { @content; }
  }
  @else if $media == fullHd {
    @media only screen and (min-width: $FULLHD - 1) { @content; }
  }
}


// @include screen-style(iphoneSE) { width: 100% ;}

@mixin center-pos($size) {
  width: $size;
  height: $size;
  top: calc(50% - #{$size} / 2);
  left: calc(50% - #{$size} / 2);
}

// common styles

::selection {
  background: $color-blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-blue; /* Gecko Browsers */
}

%heading {
  overflow: hidden;
  max-width: 80rem;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 9rem;
}

%paragraph {
  overflow: hidden;
  max-width: 40rem;
  color: $color-white;
  font-size: 2.5rem;
  line-height: 2.5rem;
  opacity: 0.9;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

%btn-text {
  position: relative;
  display: block;
  width: 15rem;
  height: 6rem;
  border-radius: 6rem;
  background: $color-pink;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 6rem;
  box-shadow: $shadow;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: darken($color-pink, 10%);
    transition: 0.3s ease-in-out;
  }
  &:focus {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
  }
}

%btn-icon {
  position: absolute;
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: $color-pink;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: $shadow;
  &:hover {
    background-color: darken($color-pink, 10%);
    transition: 0.3s ease-in-out;
  }
  &::before {
    content: '';
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin: -35px 0 0 -35px;
  	width: 70px;
  	height: 70px;
  	border-radius: 50%;
  	opacity: 0;
  	pointer-events: none;
    background: transparentize($color-pink, 0.9);
  }
  &::after {
    @include center-pos(3rem)
    position: absolute;
    display: block;
    content: '';
  }
  &:active {
    &::before {
      animation: anim-click 0.5s forwards;
    }
  }
}

%btn-esc {
  position: absolute;
  top: 3rem;
  right: 25rem;
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #E0E0E0;
  cursor: pointer;
  @include screen-style(iMac) {
    right: 18rem;
  };
  @include screen-style(ipadPro) {
    right: 13rem;
  };
  @include screen-style(ipadAir) {
    right: 10rem;
  };
  @include screen-style(iphone7) {
    right: 2rem;
  };
  @include screen-style(iphoneSE) {
    width: 4rem;
    height: 4rem;
    right: 2rem;
  };
  &::before {
    position: absolute;
    top: calc(50% - 2rem / 2);
    left: calc(50% - 0.3rem / 2);
    display: block;
    width: 0.3rem;
    height: 2rem;
    background-color: $color-white;
    content: '';
    transform: rotate(45deg);
  }
  &::after {
    position: absolute;
    top: calc(50% - 2rem / 2);
    left: calc(50% - 0.3rem / 2);
    display: block;
    width: 0.3rem;
    height: 2rem;
    background-color: $color-white;
    content: '';
    transform: rotate(-45deg);
  }
  &:hover {
    background-color: darken($color-blue, 10%);
    transition: 0.3s ease-in-out;
  }
}

%img {
  background: $color-pink;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%search {
  position: absolute;
  top: 3rem;
  right: 35rem;
  cursor: pointer;
  z-index: 100;
  @include screen-style(iMac) {
    right: 25rem;
  };
  @include screen-style(ipadPro) {
    right: 20rem;
  };
  @include screen-style(ipadAir) {
    right: 17rem;
  };
  @include screen-style(iphone7) {
    right: 8rem;
  };
  @include screen-style(iphoneSE) {
    right: 8rem;
  };
  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 2.5rem / 2);
    left: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
    background: url('~@/assets/icons/search.svg') no-repeat center / 100%;
  }
  @include screen-style(iphoneSE) {
    &::before {
      top: calc(50% - 2rem / 2);
      left: 1rem;
      width: 2rem;
      height: 2rem;
    }
  };
  input {
    display: block;
    appearance: none;
    background-color: #E0E0E0;
    color: $color-main;
    padding: 0 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 40px;
    border-style: none;
    outline-style: none;
    font-size: 1.6rem;
    transition: all .5s;
    @include screen-style(fullHd) {
      width: 30rem;
      padding: 0 2rem 0 5rem;
    };
    @include screen-style(iMac) {
      width: 30rem;
      padding: 0 2rem 0 5rem;
    };
    @include screen-style(iphoneSE) {
      width: 4rem;
      height: 4rem;
    };
    &:focus {
      background-color: darken(#E0E0E0, 20%);
      color: $color-white;
    }
  }
}

// transition

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-delay-enter-active, .fade-delay-leave-active {
  transition: all 0.2s cubic-bezier(0.7,0,0.3,1) 0.3s;
}
.fade-delay-enter, .fade-delay-leave-to {
  opacity: 0;
}

// .slide-left-enter-active, .slide-left-leave-active {
//   transition: all 0.5s cubic-bezier(0.7,0,0.3,1);
// }
// .slide-left-enter, .slide-left-leave-to {
//   opacity: 0;
//   transform: translateX(-10%);
// }

.slide-up-enter-active, .slide-up-leave-active {
  transition: all 0.7s cubic-bezier(0.7,0,0.3,1) 0.3s;
}
.slide-up-enter, .slide-up-leave-to {
  transform: translateY(100%);
}

.slide-down-enter-active, .slide-down-leave-active {
  transition: all 0.7s cubic-bezier(0.7,0,0.3,1) 0.3s;
}
.slide-down-enter, .slide-down-leave-to {
  transform: translateY(100%);
}

//keyframes

@keyframes anim-click {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}
